
@{
    ViewBag.Title = "EmailSent";
}

<h2>Email Sent</h2>

<p>
    A confirmation email has been sent to the employee(s).
</p>

<div>
    @Html.ActionLink("Back to Cohorts", "Index", "Cohorts")
</div>