
@{
    ViewBag.Title = "EmailSent";
}

<h2>Email Sent</h2>

<p>
    Survey has been assigned to the cohort and an email has been sent to each user.
</p>

<div>
    @Html.ActionLink("Back to Cohorts", "Index", "Cohorts")
</div>