
@using EmployeeEvaluationSystem.MVC.Helpers.Request

<h2>Invalid Permissions</h2>

<p>The survey you are trying to take is not for you. You do not have permission to take the survey. If you believe you have reached this page in error, please contact the administrator.</p>

