
@using EmployeeEvaluationSystem.MVC.Helpers.Request
@model EmployeeEvaluationSystem.MVC.Models.Survey.QuickModel
<h2>Survey Not Started</h2>

<p>The survey you are trying to take is not open yet. It will become available on @Html.DisplayFor(m => m.DateOpens)</p>
