
@using EmployeeEvaluationSystem.MVC.Helpers.Request

<h2>Survey Locked</h2>

<p>The survey is currently being taken by another person. If you believe that you have received this page in error, please wait up to 10 minutes and try again by clicking the link in your email, or by going to the "My Surveys" option on the home page.</p
