
@{
    ViewBag.Title = "Save Successful";
}

<h2>Save Successful</h2>
All users have been registered successfully. An email should arrive in each users inbox with instructions on how to finish setup with their account.
